@media (min-width: 1200px){
    /* Header Part */
    /* MacBoock Part */
    .macbook-pro {
        right: -1%;
        width: 66%;
    }
    /* Our Service Part */
    /* Slider Part */
    .slide-item img {
        width: 4%;
    }
    .slide-item p {
        font-size: 20px;
        margin: 50px 0px;
    }
    /* Our Price */
    .bg {
        height: 465px;
    }
    /* Media Part */
    /* Join Us Part */
    /* Latest Update */
    /* Mache Free PSD Template */
    /* Download Part */
    /* Footer Part */
}

@media (min-width: 992px) and (max-width: 1199.98px){
    /* Header Part */
    /* MacBoock Part */
    .mac {
        height: 405px;
    }
    .mac-row {
        padding-top: 15px;
    }
    .macbook-pro {
        bottom: -17%;
        right: 0%;
        width: 60%;
    }
    .mac-text h2 {
        font-size: 30px;
    }
    .b-border-1 {
        width: 28%;
    }
    .mac-text p {
        font-size: 12px;
        margin-top: 4%;
        margin-bottom: 6%;
    }
    .mac-text a {
        font-size: 13px;
    }
    .mac-text img {
        bottom: -1px;
        left: 120px;
        width: 6%;
    }
    /* Our Service Part */
    /* Slider Part */
    .slide-item p {
        margin: 55px 0px;
    }
    .slide-item img {
        width: 5%;
    }
    /* Our Price */
    .buy {
        font-size: 12px;
        padding: 12px 50px;
    }
    .our-price {
        height: 800px;
    }
    /* Media Part */
    /* Join Us Part */
    /* Latest Update */
    /* Mache Free PSD Template */
    /* Download Part */
    /* Footer Part */
}

@media (min-width: 768px) and (max-width: 991.98px){
    /* Header Part */
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .6rem;
        padding-left: .6rem;
        font-size: 13px;
    }
    .heading-text h1 {
        font-size: 40px;
    }
    .head-btn {
        font-size: 11px;
    }
    .heading-text p {
        font-size: 13px;
    }
    /* MacBoock Part */
    .mac {
        height: 300px;
    }
    .mac-row {
        padding-top: 15px;
    }
    .mac-text h2 {
        font-size: 21px;
    }
    .b-border-1 {
        width: 35%;
    }
    .mac-text p {
        font-size: 9px;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .mac-text a {
        font-size: 9px;
    }
    .mac-text img {
        bottom: 2px;
        left: 88px;
        width: 5%;
    }
    .macbook-pro {
        bottom: -21%;
        right: -2%;
        width: 65%;
    }
    /* Our Service Part */
    /* Slider Part */
    .slide-item p {
        font-size: 16px;
    }
    .slide-item img {
        width: 7%;
    }
    /* Our Price */
    .our-price {
        height: 1330px;
    }
    .h {
        height: 530px;
    }
    .bg {
        height: 485px;
    }
    /* Media Part */
    .media-row-h {
        height: 500px;
    }
    .media-col {
        margin-bottom: 5%;
    }
    .show-btn {
        font-size: 13px;
    }
    .show img {
        width: 2%;
    }
    /* Join Us Part */
    .join-us-btn {
        padding-right: 0;
    }
    .join-btn {
        top: 0px;
    }
    /* Latest Update */
    .update-row {
        height: 995px;
    }
    /* Mache Free PSD Template */
    .free-psd-bg {
        height: 380px;
    }
    .free-psd-row {
        height: 380px;
    }
    .free-btn {
        font-size: 10px;
        padding: 12px 36px;
    }
    /* Download Part */
    .d-content h1 {
        font-size: 25px;
    }
    .d-content p {
        font-size: 12px;
        line-height: unset;
        margin-bottom: 10%;
    }
    .download-btn {
        padding: 11px 25px;
        font-size: 9px;;
    }
    /* Footer Part */
    .footer-row {
        height: 70px;
    }
    .copyright h5 {
        font-size: 9px;
    }
    .design h5 {
        font-size: 9px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    /* Header Part */
    b, strong {
        display: block;
    }
    .head-btn {
        font-size: 12px;
    }
    /* MacBoock Part */
    .mac {
        height: 760px;
    }
    .mac-text {
        padding-top: 0;
    }
    .mac-row {
        padding-top: 50px;
    }
    .b-border-1 {
        width: 23%;
    }
    .mac-text p {
        font-size: 15px;
        text-align: justify;
        margin-top: 4%;
    }
    .mac-text a {
        font-size: 13px;
    }
    .mac-text img {
        bottom: -1px;
        left: 117px;
        width: 4%;
    }
    .macbook-pro {
        bottom: -90%;
        right: 1%;
        width: 100%;
    }
    /* Our Service Part */
    .service {
        margin-top: 25%;
        height: 615px;
    }
    .service-heading p {
        margin-bottom: 10%;
    }
    .skill {
        margin-bottom: 5%;
    }
    /* Slider Part */
    .slider {
        height: 370px;
    }
    .slide-item p {
        font-size: 16px;
    }
    .slide-item img {
        width: 10%;
    }
    .carousel-indicators li {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        top: 72px;
        margin-right: 5px;
        margin-left: 5px;
    }
    /* Our Price */
    .our-price {
        height: 1230px;
    }
    .bg {
        height: 460px;
    }
    .h {
        height: 490px;
    }
    /* Media Part */
    .media-row-h {
        height: 620px;
    }
    .media-col {
        margin-bottom: 4%;
    }
    /* Join Us Part */
    .join-row {
        height: 350px;
    }
    /* Latest Update */
    .update-row {
        height: 1345px;
        margin-bottom: 5%;
    }
    /* Mache Free PSD Template */
    .free-psd-row {
        height: 340px;
    }
    .free-psd p {
        font-size: 12px;
    }
    .free-btn {
        font-size: 11px;
    }
    /* Download Part */
    .download-row {
        height: 816px;
        padding-top: 10%;
    }
    .d-content h1 {
        font-size: 33px;
    }
    .d-content p {
        margin-bottom: 5%;
        text-align: justify;
    }
    .b-border-6 {
        width: 34%;
    }
    .download-btn {
        font-size: 12px;
        display: flex;
        width: 36%;
        margin: 0 auto;
        margin-bottom: 10%;
    }
    /* Footer Part */
    .footer-row {
        height: 70px;
    }
    .copyright h5 {
        font-size: 8px;
    }
    .design h5 {
        font-size: 8px;
    }
}


















@media (max-width: 575.98px){
    /* Header Part */
    b, strong {
        display: block;
    }
    .heading-text h1 {
        font-size: 40px;
    }
    .b-border {
        width: 30%;
    }
    .heading-text p {
        font-size: 12px;
    }
    .head-btn {
        font-size: 11px;
    }
    /* MacBoock Part */
    .mac-text {
        padding-top: 0;
    }
    .b-border-1 {
        width: 29%;
    }
    .mac-text p {
        font-size: 15px;
        text-align: justify;
    }
    .macbook-pro {
        bottom: -60%;
        right: 3%;
        width: 95%;
    }
    .mac {
        height: 735px;
    }
    /* Our Service Part */
    /* Slider Part */
    /* Our Price */
    /* Media Part */
    /* Join Us Part */
    /* Latest Update */
    /* Mache Free PSD Template */
    /* Download Part */
    /* Footer Part */
}