@media (min-width: 1920px){
    /* Header Part */
    .container {
        max-width: 1600px;
    }
    .head-bg {
        height: 805px;
    }
    .brand-img{
        width: 150%;
    }
    .menu a {
        font-size: 24px;
        padding: 0px 15px !important;
    }
    .heading-text h1 {
        font-size: 4rem;
        margin-top: 12%;
    }
    .b-border {
        width: 14%;
    }
    .heading-text p {
        font-size: 1.4rem;
        line-height: 38px;
    }
    .head-btn {
        font-size: 20px;
        padding: 20px 80px;
        border-radius: 100px;
    }
    /* MacBoock Part */
    .mac {
        height: auto;
        padding-bottom: 1%;
    }
    .mac-text {
        padding-top: 0%;
    }
    .mac-text h2 {
        font-size: 4rem;
    }
    .b-border-1 {
        width: 47%;
    }
    .mac-text p {
        font-size: 1.4rem;
        text-align: justify;
    }
    .mac-text a {
        font-size: 20px;
    }
    .mac-text img {
        left: 25%;
        width: 5%;
    }
    .macbook-pro {
        right: -9% !important;
        width: 73% !important;
        bottom: -18%;
    }
    /* Our Service Part */
    .service {
        height: auto;
        margin-bottom: 5%;
    }
    .service-heading h2 {
        font-size: 4rem;
    }
    .b-border-2 {
        width: 19%;
    }
    .service-heading p {
        font-size: 1.3rem;
        margin-bottom: 5%;
    }
    .skill-img {
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
    }
    .skill h5 {
        font-size: 1.3rem;
    }
    /* Slider Part */
    .slider {
        height: auto;
    }
    .slide-row {
        height: auto;
    }
    .slide-item p {
        font-size: 2rem !important;
        margin: 0rem 0rem !important;
    }
    .slide-item img {
        width: 5%;
    }
    .slide-item img {
        width: 6%;
        margin: 6rem 0rem;
    }
    /* Our Price */
    .our-price {
        height: auto;
    }
    .price-heading h2 {
        font-size: 4rem;
        margin-bottom: 2%;
    }
    .b-border-3 {
        width: 20%;
    }
    .price-heading p {
        font-size: 1.3rem;
    }
    .h {
        height: auto;
    }
    .bg {
        height: auto !important;
        margin-bottom: 10rem;
    }
    .doller {
        height: 15rem;
    }
    .package {
        width: 73%;
        height: 4.5rem;
        top: 240px;
        border-radius: 100px;
    }
    .doller-content h1 {
        font-size: 5rem;
    }
    .doller-content span {
        font-size: 2rem;
    }
    .doller-content p {
        font-size: 1.3rem;
    }
    .package h3 {
        font-size: 1.3rem;
    }
    .offers p {
        font-size: 1.3rem;
        line-height: 50px;
    }
    .buy {
        font-size: 1.2rem;
        padding: 16px 92px;
        margin-bottom: 3rem;
    }
    /* Media Part */
    .media-row-h {
        height: auto;
        margin-top: 10%;
        margin-bottom: 7%;
    }
    .media-col {
        margin-bottom: 2%;
    }
    .media img {
        width: 15%;
    }
    .media-body h5 {
        font-size: 1.5rem;
        margin-bottom: 4%;
    }
    .media-body p {
        font-size: 1.3rem;
        line-height: 37px;
        padding-right: 30px;
    }
    /* Join Us Part */
    .join-row {
        height: auto;
    }
    .join-heading {
        height: auto;
        margin: 5% 0;
    }
    .join-heading h1 {
        font-size: 3rem;
    }
    .join-us-btn {
        text-align: left;
    }
    .join-btn {
        font-size: 1.3rem;
        padding: 17px 80px;
        top: 2px;
    }
    /* Latest Update */
    .update-heading h1 {
        font-size: 4rem;
        margin-bottom: 2%;
    }
    .update-heading p {
        margin-top: 2%;
        font-size: 1.3rem;
    }
    .card h5 {
        font-size: 22px;
    }
    .card p {
        font-size: 18px;
    }
    .show-btn {
        font-size: 20px;
    }
    .show img {
        top: 45px;
        width: 25px;
    }
    /* Mache Free PSD Template */
    .free-psd h1 {
        font-size: 4rem;
        margin-bottom: 2%;
    }
    .free-psd p {
        font-size: 1.3rem;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .free-btn {
        padding: 18px 50px;
        font-size: 1.3rem;
        margin-bottom: 4%;
    }
    /* Download Part */
    .d-content h1 {
        font-size: 3rem;
        margin-bottom: 3%;
    }
    .d-content p {
        font-size: 1.3rem;
        margin-top: 3%;
        margin-bottom: 10%;
    }
    .download-btn {
        padding: 20px 52px;
        font-size: 15px;
    }
    /* Footer Part */
    .copyright h5 {
        color: white;
        font-size: 15px;
    }
    .design h5 {
        font-size: 15px;
    }
}

@media (min-width: 1200px){
    /* Header Part */
    /* MacBoock Part */
    .macbook-pro {
        right: -2%;
        width: 66%;
    }
    /* Our Service Part */
    /* Slider Part */
    .slide-item img {
        width: 4%;
    }
    .slide-item p {
        font-size: 20px;
        margin: 50px 0px;
    }
    /* Our Price */
    .bg {
        height: 465px;
    }
    /* Header Part */
    /* MacBoock Part */
    /* Our Service Part */
    /* Slider Part */
    /* Our Price */
    /* Media Part */
    /* Join Us Part */
    /* Latest Update */
    /* Mache Free PSD Template */
    /* Download Part */
    /* Footer Part */
}

@media (min-width: 992px) and (max-width: 1199.98px){
    /* Header Part */
    /* MacBoock Part */
    .mac {
        height: auto;
        padding-bottom: 2%;
    }
    .mac-row {
        padding-top: 15px;
    }
    .mac-text h2 {
        font-size: 30px;
    }
    .b-border-1 {
        width: 28%;
    }
    .mac-text p {
        font-size: 12px;
        margin-top: 4%;
        margin-bottom: 6%;
        text-align: justify;
    }
    .mac-text a {
        font-size: 13px;
    }
    .mac-text img {
        bottom: -1px;
        left: 120px;
        width: 6%;
    }
    .macbook-pro {
        bottom: -20%;
        right: 0%;
        width: 64%;
    }
    /* Our Service Part */
    /* Slider Part */
    .slide-item p {
        margin: 55px 0px;
    }
    .slide-item img {
        width: 5%;
    }
    /* Our Price */
    .buy {
        font-size: 12px;
        padding: 12px 50px;
    }
    .our-price {
        height: 800px;
    }
    /* Media Part */
    /* Join Us Part */
    /* Latest Update */
    /* Mache Free PSD Template */
    /* Download Part */
    /* Footer Part */
}

@media (min-width: 768px) and (max-width: 991.98px){
    /* Header Part */
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .6rem;
        padding-left: .6rem;
        font-size: 13px;
    }
    .heading-text h1 {
        font-size: 40px;
    }
    .head-btn {
        font-size: 11px;
    }
    .heading-text p {
        font-size: 13px;
    }
    .b-border {
        width: 20%;
    }
    /* MacBoock Part */
    .mac {
        height: 315px;
    }
    .mac-row {
        padding-top: 15px;
    }
    .mac-text h2 {
        font-size: 21px;
    }
    .b-border-1 {
        width: 35%;
    }
    .mac-text p {
        font-size: 9px;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .mac-text a {
        font-size: 9px;
    }
    .mac-text img {
        bottom: 2px;
        left: 88px;
        width: 5%;
    }
    .macbook-pro {
        bottom: -21%;
        right: -2%;
        width: 65%;
    }
    /* Our Service Part */
    /* Slider Part */
    .slide-item p {
        font-size: 16px;
    }
    .slide-item img {
        width: 7%;
    }
    /* Our Price */
    .our-price {
        height: 1330px;
    }
    .h {
        height: 530px;
    }
    .bg {
        height: 485px;
    }
    /* Media Part */
    .media-row-h {
        height: 500px;
    }
    .media-col {
        margin-bottom: 5%;
    }
    .show-btn {
        font-size: 13px;
    }
    .show img {
        width: 2%;
    }
    /* Join Us Part */
    .join-us-btn {
        padding-right: 0;
    }
    .join-btn {
        top: 0px;
    }
    /* Latest Update */
    .update-row {
        height: 995px;
    }
    /* Mache Free PSD Template */
    .free-psd-bg {
        height: 380px;
    }
    .free-psd-row {
        height: 380px;
    }
    .free-btn {
        font-size: 10px;
        padding: 12px 36px;
    }
    /* Download Part */
    .d-content h1 {
        font-size: 25px;
    }
    .d-content p {
        font-size: 12px;
        line-height: unset;
        margin-bottom: 10%;
    }
    .download-btn {
        padding: 11px 25px;
        font-size: 9px;;
    }
    /* Footer Part */
    .footer-row {
        height: 70px;
    }
    .copyright h5 {
        font-size: 9px;
    }
    .design h5 {
        font-size: 9px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    /* Header Part */
    b, strong {
        display: block;
    }
    .head-btn {
        font-size: 12px;
    }
    .b-border {
        width: 28%;
    }
    /* MacBoock Part */
    .mac {
        height: 760px;
    }
    .mac-text {
        padding-top: 0;
    }
    .mac-row {
        padding-top: 50px;
    }
    .b-border-1 {
        width: 23%;
    }
    .mac-text p {
        font-size: 15px;
        text-align: justify;
        margin-top: 4%;
    }
    .mac-text a {
        font-size: 13px;
    }
    .mac-text img {
        bottom: -1px;
        left: 117px;
        width: 4%;
    }
    .macbook-pro {
        bottom: -90%;
        right: 1%;
        width: 100%;
    }
    /* Our Service Part */
    .service {
        margin-top: 25%;
        height: 615px;
    }
    .service-heading p {
        margin-bottom: 10%;
    }
    .skill {
        margin-bottom: 5%;
    }
    /* Slider Part */
    .slider {
        height: 370px;
    }
    .slide-item p {
        font-size: 16px;
    }
    .slide-item img {
        width: 10%;
    }
    .carousel-indicators li {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        top: 72px;
        margin-right: 5px;
        margin-left: 5px;
    }
    /* Our Price */
    .our-price {
        height: 1230px;
    }
    .bg {
        height: 460px;
    }
    .h {
        height: 490px;
    }
    /* Media Part */
    .media-row-h {
        height: 620px;
    }
    .media-col {
        margin-bottom: 4%;
    }
    /* Join Us Part */
    .join-row {
        height: 350px;
    }
    /* Latest Update */
    .update-row {
        height: 1345px;
        margin-bottom: 5%;
    }
    /* Mache Free PSD Template */
    .free-psd-row {
        height: 340px;
    }
    .free-psd p {
        font-size: 12px;
    }
    .free-btn {
        font-size: 11px;
    }
    /* Download Part */
    .download-row {
        height: 816px;
        padding-top: 10%;
    }
    .d-content h1 {
        font-size: 33px;
    }
    .d-content p {
        margin-bottom: 5%;
        text-align: justify;
    }
    .b-border-6 {
        width: 34%;
    }
    .download-btn {
        font-size: 12px;
        display: flex;
        width: 36%;
        margin: 0 auto;
        margin-bottom: 10%;
    }
    /* Footer Part */
    .footer-row {
        height: 70px;
    }
    .copyright h5 {
        font-size: 8px;
    }
    .design h5 {
        font-size: 8px;
    }
}

@media (max-width: 575.98px){
    /* Header Part */
    b, strong {
        display: block;
    }
    .heading-text h1 {
        font-size: 40px;
    }
    .b-border {
        width: 30%;
    }
    .heading-text p {
        font-size: 12px;
    }
    .head-btn {
        font-size: 11px;
    }
    /* MacBoock Part */
    .mac {
        height: auto;
    }
    .mac-text {
        padding-top: 0;
    }
    .b-border-1 {
        width: 29%;
    }
    .mac-text p {
        font-size: 15px;
        text-align: justify;
    }
    .macbook-pro {
        width: 100%;
        position: unset;
        margin-top: 8%;
    }
    /* Our Service Part */
    .service {
        height: auto;
    }
    .service-heading p {
        margin-bottom: 10%;
    }
    .skill {
        margin-bottom: 5%;
    }
    /* Slider Part */
    .slider {
        height: auto;
    }
    .slide-row {
        height: auto;
    }
    .slide-item p {
        font-size: 15px;
        margin: 55px 0px;
    }
    .slide-item p {
        font-size: 14px;
        margin: 0px 0px;
    }
    .slide-item img {
        margin-bottom: 10%;
        margin-top: 10%;
        width: 8%;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    .carousel-indicators {
        bottom: 5px;
    }
    /* Our Price */
    .our-price {
        height: auto;
    }
    .h {
        height: auto;
        margin-bottom: 5%;
    }
    .bg {
        height: auto;
    }
    .price-heading p {
        margin-bottom: 10%;
    }
    .buy {
        width: 85%;
        margin-bottom: 10%;
    }
    /* Media Part */
    .media-row-h {
        height: auto;
    }
    .media-col {
        margin-bottom: 5%;
        text-align: center;
    }
    .media-body h5 {
        margin-bottom: 2%;
        padding-top: 2%;
    }
    .media img {
        padding-right: 0;
        margin: 0 !important;
    }
    /* Join Us Part */
    .join-row {
        height: 300px;
    }
    .join-heading h1 {
        font-size: 35px;
    }
    .join-btn {
        font-size: 12px;
    }
    /* Latest Update */
    .update-row {
        height: auto;
        margin-bottom: 5%;
    }
    /* Mache Free PSD Template */
    .free-psd-row {
        height: 350px;
    }
    .free-psd p {
        font-size: 11px;
    }
    .free-btn {
        font-size: 11px;
    }
    /* Download Part */
    .download-row {
        height: auto;
    }
    .d-content h1 {
        font-size: 30px;
    }
    .b-border-6 {
        width: 29%;
    }
    .d-content p {
        font-size: 15px;
        text-align: justify;
        margin-bottom: 5%;
    }
    .download-btn {
        font-size: 9px;
        margin-bottom: 5%;
    }
    /* Footer Part */
    .copyright h5 {
        font-size: 10px;
    }
    .design h5 {
        font-size: 10px;
    }
}

@media (max-width: 425.98px){
    /* Header Part */
    .heading-text h1 {
        font-size: 30px;
    }
    .head-btn {
        font-size: 9px;
    }
    /* MacBoock Part */
    .mac-text h2 {
        font-size: 30px;
    }
    .b-border-1 {
        width: 36%;
    }
    .mac-text p {
        font-size: 13px;
    }
    .mac-text a {
        font-size: 13px;
    }
    .mac-text img {
        bottom: -1px;
        left: 118px;
        width: 7%;
    }
    /* Our Service Part */
    .service-heading h2 {
        font-size: 35px;
    }
    .b-border-2 {
        width: 20%;
    }.service-heading p {
        font-size: 13px;
    }
    /* Slider Part */
    .slide-item p {
        font-size: 11px;
    }
    .carousel-indicators {
        bottom: -6px;
    }
    /* Our Price */
    .price-heading h2 {
        font-size: 35px;
    }
    .price-heading p {
        font-size: 13px;
    }
    /* Media Part */
    /* Join Us Part */
    .join-row {
        height: 250px;
    }
    .join-heading h1 {
        font-size: 28px;
    }
    .join-btn {
        font-size: 12px;
        padding: 11px 45px;
        top: -20px;
    }
    .join-btn {
        margin-top: 8%;
    }
    /* Latest Update */
    .update-heading h1 {
        font-size: 35px;
    }
    .update-heading p {
        font-size: 13px;
        line-height: 25px;
    }
    .show-btn {
        font-size: 13px;
    }
    .show img {
        width: 4%;
    }
    /* Mache Free PSD Template */
    .free-psd h1 {
        font-size: 27px;
    }
    .free-btn {
        font-size: 10px;
        padding: 10px 35px;
        margin-top: 7%;
    }
    /* Download Part */
    .d-content h1 {
        font-size: 23px;
    }
    .b-border-6 {
        width: 42%;
    }
    .d-content p {
        font-size: 13px;
        line-height: 21px;
    }
    .download-btn {
        font-size: 9px;
        margin-bottom: 25px;
        margin-top: 5%;
        padding: 12px 30px;
    }
    /* Footer Part */
    .copyright h5 {
        font-size: 8px;
    }
    .design h5 {
        font-size: 8px;
    }
}