body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Header Part */
.head-row {
    height: 493px;
}
.head-bg {
    height: 572px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
}
.menu a {
    color: white !important;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.nav-item .active{
    color: #ed145b !important;
}
.menu a:hover {
    color: #ed145b !important;
}
.heading-text span {
    font-weight: bold;
}
.heading-text h1 {
    text-transform: uppercase;
    font-size: 46px;
    font-weight: 300;
    margin-bottom: 2%;
}
.heading-text p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 2%;
    line-height: 25px;
}
.b-border {
    border-bottom: 1px solid #ed145b;
    width: 12%;
    margin: auto;
}
.head-btn{
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #ed145b;
    padding: 11px 45px;
    margin-top: 5%;
    border-radius: 30px; 
}
.head-btn:hover{
    color: white;
    box-shadow: 0 0 25px white;
}

/* MacBoock Part */
.mac{
    background-color: #f4f4f4;
    height: 520px;
}
.mac-row{
    padding-top: 70px;
}
.mac-text h2{
    color: #5a5a5a;
    font-size: 33px;
    margin-bottom: 4%;
}
.b-border-1{
    border-bottom: 1px solid #ed145b;
    width: 33%;
}
.mac-text{
    padding-top: 5%;
}
.mac-text p{
    font-size: 13px;
    font-weight: 300;
    color: #5a5a5a;
    margin-top: 6%;
    margin-bottom: 7%;
}
.mac-text a{
    font-size: 15px;
    color: #ed145b;
    text-transform: uppercase;
    text-decoration: none;
}
.mac-text img{
    position: absolute;
    bottom: -2px;
    left: 130px;
}
.macbook-pro{
    position: absolute;
    bottom: -110px;
    right: -100px;
    width: 70%;
}

/* Our Service Part */
.service{
    margin-top: 12%;
}
.service-heading{

}
.service-heading h2{
    font-size: 38px;
    font-weight: 300;
    color: #5a5a5a;
    margin-bottom: 2%;
}
.b-border-2{
    border-bottom: 1px solid #ed145b;
    width: 19%;
    margin: auto;
}
.service-heading p{
    color: #5a5a5a;
    font-size: 14px;
    margin-top: 2%;
    line-height: 2;
    margin-bottom: 8%; 
}
.skill1{

}
.skill1 img{
    border: 1px solid lightgray;
    padding: 38px 30px;
}
.skill1 h5{
    
}
.skill2{

}
.skill2 img{
    
}
.skill2 h5{
    
}
.skill3{

}
.skill3 img{
    
}
.skill3 h5{
    
}
.skill4{

}
.skill4 img{
    
}
.skill4 h5{
    
}


/* font-family: 'Lato', sans-serif; */